body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
.table {
  background-color: darkslategrey;
  padding-left: 30px;
  padding-right: 30px;
  width: 30%;
  height: 100vh;
  overflow: auto;
}
.menu {
  background-color: blue;
  padding-left: 30px;
  padding-right: 30px;
  width: 70%;
  height: 100vh;
  overflow: auto;
}
.main {
  display: flex;
}

.search-bar {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.table1 {
  background-color: wheat;
  padding: 6%;
  width: 60%;
  border: 1px solid black;
  margin: 7%;
  border-radius: 20px;
  text-align: center;
}

.container {
  display: inline-grid;
  padding: 5% 1% 1% 1%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: 30vh;
  width: 30vw;
  border-top-right-radius: 30px;
  object-fit: cover;
}
.dish:hover {
  transform: scale(1.05);
  transition: 500ms;
}
.dish-name,
.price {
  background-color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 30px;
}
.dish-name {
  border-bottom-left-radius: 0px !important;
}
@media screen and (max-width: 1000px) {
  .container {
    display: inline-grid;
    padding: 5% 1% 1% 1%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: 30vh;
    width: 30vw;
    border-top-right-radius: 30px;
    object-fit: cover;
  }

  .table1 {
    background-color: wheat;
    padding: 9%;
    width: 60%;
    border: 1px solid black;
    margin: 3%;
    border-radius: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: inline-grid;
    padding: 5% 1% 1% 1%;
    grid-template-columns: 1fr;
    grid-gap: 1%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: 30vh;
    width: 30vw;
    border-top-right-radius: 30px;
    object-fit: cover;
  }

  .table1 {
    background-color: wheat;
    padding: 15%;
    width: 60%;
    border: 1px solid black;
    margin: 2%;
    border-radius: 20px;
    text-align: center;
  }
}
