.popup_header {
  background-color: purple;
  color: white;
  padding: 4%;
  padding-left: 7%;
}

.modal-open {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close {
  display: none;
}
.close {
  position: absolute;
  padding-left: 25%;
  padding-bottom: 2%;
  cursor: pointer;
}
.modal {
  height: 50vh;
  width: 30vw;
  background-color: white;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
#total_price {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  color: purple;
  font-weight: bolder;
}
.bold {
  color: purple;
  font-weight: bolder;
}

table,
th,
td {
  padding: 5px;
}
.del {
  width: 12%;
  height: 12%;
  padding-right: 0px;
}
